.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}
.login-page {
  padding-top: 34px;
  padding-left: 40px;
  height: 100vh;
}
.login-image {
  width: 100%;
  height: 100vh;
}
.signUp-link {
  color: #00a783;
}
.upper-logo {
  height: 8%;
}
.bottom-block {
  height: 92%;
  text-align: center;
  max-width: 500px;
  margin-inline: auto;
}
.btn-primary {
  color: black;
  background-color: white;
  border-color: #5a5a5a;
  transition: all 0.3s linear;
}
.btn-primary:hover {
  color: white;
  background-color: #00a783;
  border-color: #00a783;
}
