@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.reg {
  height: 100vh;
}
.regimg {
  height: 100vh;
}
.acc {
  margin-left: 10rem;
}
.start {
  font-weight: 900;
}
.left {
  border-bottom: 1px solid #dbdbdb;
  width: 100px;
  margin-bottom: 10px;
}
.upper-sign-in {
  padding-top: 34px;
  padding-right: 15px;
  height: 8%;
}
.bottom-form {
  height: 92%;
  max-width: 650px;
  margin-inline: auto;
}
.register-form {
  margin-top: 20px;
}
.form-content {
  /* padding: 5%; */
  /* border: 1px solid #ced4da; */
  margin-bottom: 2%;
}
.form-control {
  border-radius: 1.5rem;
}
.btnSubmit {
  border: none;
  /* border-radius: 1.5rem; */
  /* padding: 1%; */
  width: 100%;
  cursor: pointer;
  background: #00a783;
  color: #fff;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}
.login-page {
  padding-top: 34px;
  padding-left: 40px;
  height: 100vh;
}
.login-image {
  width: 100%;
  height: 100vh;
}
.signUp-link {
  color: #00a783;
}
.upper-logo {
  height: 8%;
}
.bottom-block {
  height: 92%;
  text-align: center;
  max-width: 500px;
  margin-inline: auto;
}
.btn-primary {
  color: black;
  background-color: white;
  border-color: #5a5a5a;
  transition: all 0.3s linear;
}
.btn-primary:hover {
  color: white;
  background-color: #00a783;
  border-color: #00a783;
}
.chat-area {
  display: flex;
  min-height: 81vh;
  /* justify-content: end; */
  padding-inline: 30px;
  margin-top: 60px;
  padding-bottom: 70px;
  margin-left: auto;
}
.sender-message {
  max-width: 50%;
  background-color: #d9fdd3 !important;
  border-radius: 10px;
  padding: 8px;
  margin-left: auto;
  margin-bottom: 10px;
}

.receiver-message {
  max-width: 50%;
  background-color: white !important;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
  margin-right: auto;
}
.time-item {
  background-color: transparent !important;
}
.time-span {
  width: 100%;
  font-size: 12px;
  text-align: right;
}
.msg-font {
  font-size: 14px;
}
